@charset "UTF-8";
@import url(font-awesome.css);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300italic,300,400italic,500,700,500italic,700italic,900,900italic);

/* ##############################################
** BASIC HTML TAGS
** ############################################*/
html, body {
	margin: 0px;
	padding: 0px;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

* {
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: top;
}

/* scrollbar */
::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	/* background: rgba(21, 126, 251, .8); */
	background: rgba(13, 95, 163, 0.8);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	/* background: rgba(21, 126, 251, .2); */
	background: rgba(13, 95, 163, 0.2);
}

b, strong, th {
	font-weight: bold;
}

i, cite, em, var, address, dfn {
	font-style: italic;
}

img {
	max-width: 100%;
}

table {
	width: 100%;
	border-collapse: collapse;
}
td, th, tr {
	text-align: left;
	vertical-align: top;
}

a:link		{color:#0d5fa3;text-decoration:none;}
a:visited	{color:#0d5fa3;text-decoration:none}
a:focus		{color:#58aad6;}
a:hover		{color:#58aad6;text-decoration:underline;}
a:active	{color:#0d5fa3;}

h1 {font-weight: bold;font-size: 170%;margin: 0 0 15px 0;border-bottom: 1px solid #eee;padding-bottom: 5px;}
h2 {font-weight: bold;font-size: 150%;margin: 0 0 15px 0;}
h3 {font-weight: bold;font-size: 130%;margin: 0 0 05px 0;}
h4 {font-weight: bold;font-size: 120%;margin: 0 0 05px 0;}
h5 {font-weight: bold;font-size: 110%;margin: 0 0 05px 0;}
h6 {font-weight: bold;font-size: 100%;margin: 0 0 05px 0;}

.clickable,
a,
label,
input[type=button],
input[type=submit],
input[type=file] {
	cursor: pointer;
}

p { 
	-moz-hyphens: auto;
	-o-hyphens: auto;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	margin: 16px 0;
}

input, textarea, select {
	font-family: inherit;
    font-size: 90%;
    border: 1px solid #999;
    color: inherit;
    padding: 8px 10px;
	resize: none;
	background: #fff;
	width: 400px;
	box-sizing: border-box;
	max-width: 100%;
	margin: 8px 0;
	display: block;
	transition: ease border .4s, ease background .2s;
}
input:focus, textarea:focus, select:focus {
	border-color: #244394;
	/* border-color: #2580a2; */
}
input.wrong,
textarea.wrong,
select.wrong {
	border: 1px solid #D00D0D;
	-webkit-animation: wrong .7s 1;
	-moz-animation: wrong .7s 1;
}
@-webkit-keyframes wrong { 
    0% {
		transform: scale(0.1, 0.1);
		opacity: 0;
	}
	70% {
		transform: scale(1.2, 1.2);
		opacity: 1;
	}
	100% {
		transform: scale(1, 1);
	}
}
@-moz-keyframes wrong { 
	0% {
		-moz-transform: scale(0.1, 0.1);
		opacity: 0;
	}
	70% {
		-moz-transform: scale(1.2, 1.2);
		opacity: 1;
	}
	100% {
		-moz-transform: scale(1, 1); 
	}
}
label {
	margin-bottom: -6px;
	display: block;
	font-size: 95%;
}
textarea {
	height: 150px;
}
textarea.big {
	height: 200px;
	width: 100%;
}

input[type="submit"] {
	margin-top: 2em;
}
input[type="color"] {
	height: calc(1.5rem + 18px);
}
input[type="submit"],
input[type="checkbox"],
input[type="radio"],
input[type="button"],
input[type="reset"] {
	background: #333;
	color: #e5e5e5;
	width: auto;
	cursor: pointer;
}
input[type="submit"]:hover,
input[type="checkbox"]:hover,
input[type="radio"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover {
	background: #2580a2;
}
input[type="radio"],
input[type="checkbox"] {
	height: auto;
}
input[type="text"]:before {
	content: " (" attr(placeholder) ")";
	color: #333;
	display: inline-block;
}

.clear {
    clear: both;
}


/* ####################################
** BASIC LAYOUT
** ##################################*/

.wrapper {
	width: 80%;
	background: #fff;
	margin: 0 auto;
	margin-top: 50px;
	padding: 10px;
	box-sizing: border-box;
}

.headWrapper {
	width: 100%;
	height: 50px;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
	background: #333333;
	position: fixed;
	z-index: 10;
	box-shadow: 0 0 5px 1px rgba(0,0,0,.6);
}
header {
	width: 80%;
	margin: 0 auto;
}
header .logo  img {
	height: 50px;
	max-width: 100px;
	float: left;
	margin: 0 10px 0 0;
} 
header:after {
	display: block;
	content: '';
	clear: both;
}
.mobilemenu {
	display: none;
	float: left;
}
.openpoints {
	display: none;
}
.topmenu {
	font-size: 90%;
	padding: 0;
	margin: 0;
	height: 50px;
	list-style: none;
}
.topmenu li {
	float: left;
	padding: 0px;
	position: relative;
}
.topmenu > li > a {
	text-transform: uppercase;
}
.topmenu li a {
	background: #333333;
	display: block;
	line-height: 50px;
	margin: 0px;
	padding: 0px 15px;
	text-align: center;
	text-decoration: none;
	color: #cccccc;
	border-left: #3C3C3C 1px solid;
}
.topmenu.mobilemenu li a {
	padding: 0px 5px;
}
.topmenu li ul {
	background: #fff;
	display: block;
	padding: 0px;
	margin: 0px;
	position: absolute;
	z-index: 200;
	opacity: 0;
	height: 0;
	overflow: hidden;
	transition: .2s opacity ease;
	/* margin-left: 1px; */
	border: 1px solid #444;
	border-top-width: 0px;
	color: #333;
	min-width: 100%;
	box-sizing: border-box;
}
.topmenu  li:hover  > ul {
	overflow: visible;
}
.topmenu li li {
	float: none;
	display: block;
	margin: 0px;
	padding: 0px;
	border-bottom: #666 1px solid;
	position: relative;
}
.topmenu li li:last-child {
	border-bottom: none;
}
.topmenu li ul a {
	display: block;
	font-size: 90%;
	padding: 15px;
	text-align: left;
	line-height: 1.5em;
	height: auto;
	border-left: 0px;
	background: inherit;
	color: inherit;
}
.topmenu li li ul {
	position: absolute;
	left: 100%;
	top: 0;
	margin-left: 0px;
	margin-top: -1px;
	border-top-width: 1px;
}
/*
.topmenu li li li {
	background: rgb(26, 179, 100);
}
*/

main {
	background: #fff;
	font-family: inherit;
	padding: 0 5px;
	float: right;
	width: 75%;
	overflow: auto;
	box-sizing: border-box;
}
main:after {
	display: block;
	content: '';
	clear: both;
}

main .prevnextnavi {
	margin: 40px 0 0 0;
}
main .prevnextnavi > a {
	display: block;
	height: .7em;
	padding: 10px;
	text-decoration: none;
	text-align: center;
	width: 1em;
	line-height: .5em;
	font-size: 2em;
	font-weight: 800;
}
main .prevnextnavi > a:hover {
	background: #0d5fa3;
	color: #eee;
}
main .prevnextnavi > .prev {
	float: left;
}
main .prevnextnavi > .next {
	float: right;
}
main .prevnextnavi:after {
	display: block;
	clear: both;
	content: '';
}

footer {
	width: 100%;
	background: none;
	font-size: 90%;
	color: #808080;
	border-top: 1px #808080 solid;
	padding: 2px;
	clear: both;
	margin-top: 10px;
	display: inline-table;
	box-sizing: border-box;
}
footer > .links {
	float: right;
}
footer a {
	color: #808080 !important;
	text-decoration: none !important;
}
footer a:hover {
	color: #111 !important;
	font-weight: bold;
}

/* left boxes */
.leftboxes {
	float: left;
	font-size: 90%;
	width: 20%;
	border: 2px solid #777;
	padding: 5px;
	box-sizing: border-box;
}

.leftboxes ul {
	padding: 2px 2px 5px 2px;
	margin: 0;
	width: 100%;
	border-bottom: 2px solid #777;
	box-sizing: border-box;
}
.leftboxes ul li{
	list-style: none;
	display: block;
	border-bottom: 1px #bbb solid;
	margin: 0;
	padding: 5px 0;
}
.leftboxes ul:last-child,
.leftboxes ul li:last-child {
	border-bottom-width: 0px;
}
.leftboxes ul .title {
	font-weight: bold;
	display: block;
	margin-bottom: 2px;
}
.leftboxes ul h3{
	margin: 2px 0 4px 0;
	font-size: 115%;
	font-weight: bold;
	display: block;
	border-bottom: 1px #ccc solid;
	padding: 0;
	line-height: 1.1em;
	padding-bottom: 1px;
}
.leftboxes ul.newest.sites li {
	border: 0;
	padding: 0;
	
}
.leftboxes ul.newest.sites li a {
	display: block;
	padding: 2px 3px;
	text-decoration: none !important;
}
.leftboxes ul.newest.sites li a:hover {
	background: #0d5fa3;
	color: #fff;
}



/* ##############################################
** EDIT LAYOUT
** #############################################*/
#edit_href {
	font-size: 0.6em;
	vertical-align: top;
	color: #090972;
	background: #eee;
	border: 1px solid #090972;
	text-decoration: none;
	border-radius: 2px;
	padding: .03em 0.2em;
	line-height: 1.6em;
	margin-left: .5em;
	font-weight: normal;
}
#edit_href:hover {
	background: #090972;
	color: #eee;
	border: 1px inset #eee;
}

/* editroom */
.editroomboxes {
	width: 100%;
	margin: 10px 0;
	padding: 0;
}
.editroomboxes > ul.editroombox {
	float: left;
	padding: 0;
	width: 31%;
	margin: 0 .1em;
	border: 1px solid rgba(0,0,0,.8);
	background: #888;
	list-style: none;
	padding-bottom: 5px;
	overflow: hidden;
}
.editroomboxes > ul.editroombox h4  {
	margin: 0 0 5px 0;
	border-bottom: 1px solid rgb(10, 67, 168);
	padding: 2px 5px;
	color: #fff;
}
.editroomboxes > ul.editroombox li {
	list-style: none;
	display: block;
	padding: 2px 5px;
}
.editroomboxes > ul.editroombox li:hover {
	background: #2c4572;
}
.editroomboxes > ul.editroombox li > a {
	display: block;
	color: #fff!important;
	text-decoration: none;
}

/* ###### backend add (universal) ###### */
span.order {
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	height: 1.5rem;
	width: 1.5rem;
	display: none;
	float: right;
	vertical-align: baseline;
}
span.order.down {
	background-image: url('../images/arrow-down.svg');
}
span.order.up {
	background-image: url('../images/arrow-up.svg');
}
/* yes no switch */
.yesnoswitch {
	position: relative;
	width: 90px;
	-webkit-user-select:none;
	display: inline-block;
	vertical-align: middle;
}
.yesnoswitch-checkbox {
	display: none !important;
}
.yesnoswitch-label {
	display: block;
	overflow: hidden;
	cursor: pointer;
	border: 2px solid #999999;
	border-radius: 20px;
}
.yesnoswitch-inner {
	display: block;
	width: 200%;
	margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}
.yesnoswitch-inner:before, .yesnoswitch-inner:after {
	display: block;
	float: left;
	width: 50%;
	height: 25px;
	padding: 0;
	line-height: 25px;
	font-size: 14px;
	color: white;
	font-weight: bold;
	box-sizing: border-box;
}
.yesnoswitch-inner:before {
	content: "Ja";
	padding-left: 10px;
	background-color: #FF7000;
	color: #FFFFFF;
}
.yesnoswitch-inner:after {
	content: "Nein";
	padding-right: 10px;
	background-color: #333333;
	color: #FFFFFF;
	text-align: right;
}
.yesnoswitch-switch {
	display: block;
	width: 18px;
	margin: 5px;
	background: #FFFFFF;
	border: 2px solid #999999;
	border-radius: 20px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 58px;
	transition: all 0.3s ease-in 0s; 
}
.yesnoswitch-checkbox:checked + .yesnoswitch-label .yesnoswitch-inner {
	margin-left: 0;
}
.yesnoswitch-checkbox:checked + .yesnoswitch-label .yesnoswitch-switch {
	right: 0px; 
}

div.add.backend {
	margin: 2em 0;
	padding: .5em 0;
	border: 1px solid #bbb;
	border-width: 1px 0;
}
div.add.backend .close {
	height: 0.8em;
	width: 0.8em;
	float: right;
	margin: 0;
	background: #fff;
	text-align: center;
	vertical-align: middle;
	font-size: 130%;
	line-height: 0.8em;
	border-radius: 25px;
	color: #555;
	text-decoration: none;
	display: block;
	padding: 0;
}
div.add.backend .close:hover {
	background: #555;
	color: #fff;
	border: 1px solid #666;
}



/* ##############################################
** SPECIAL LAYOUT
** #############################################*/
.searchresult {
	border: 1px solid rgba(0,0,0,.2);
	margin-bottom: 10px;
	padding: 3px 5px;
}
.searchresult > * {
	padding: 0;
	color: inherit;
	margin: 0;
}

/* transparent */
.transparent {
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0,0,0,.7);
	height: 100%;
	width: 100%;
	z-index: 500;
	display: none;
}

/* popup */
.popup {
	position: absolute;
	box-sizing: border-box;
	left: 15%;
	top: 5%;
	height: 90%;
	overflow-y: auto; 
	width: 70%;
	background: #555;
	color: #fff;
	display: none;
	padding: 20px;
	border: 1px solid rgba(255, 255, 255, 1);
	z-index: 1000;
	box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.6);
}
.popup h3 {
	margin-top: 0;
}
.popup > a {
	padding: 3px 5px;
	color: #e7e7e7;
	background: #0B0B57;
	margin: 0 10px 10px 0;
	display: table;
	text-decoration: none;
}
.popup > a:hover {
	background: #181892;
}
.popup > a.close {
	height: 1em;
	width: 1em;
	float: right;
	margin: -15px -15px 0 0;
	border: 1px solid #333;
	background: #fff;
	text-align: center;
	vertical-align: middle;
	font-size: 180%;
	line-height: 1em;
	border-radius: 30px;
	position: fixed;
	right: 10%;
	top: 5%;
	z-index: 10;
	color: #222;
	text-decoration: none;
}
.popup > a.close:hover {
	background: #222;
	border: 1px solid #fff;
	color: #fff !important;
}

/* message (js) */
.message {
	position: fixed;
	background: #fff;
	border: 3px solid #1B1B1B;
	padding: 10px;
	z-index: 1000;
	font-family: inherit;
	border-radius: 8px;
	color: #222;
}
.message > h3 {
	margin: 0 0 10px 0;
}
.message > #closemessage {
	position: absolute;
	right: 5px;
	top: 5px;
	color: #222;
	height: 18px;
	width: 18px;
	text-decoration: none;
	line-height: 16px;
	font-weight: bold;
	border-radius: 20px;
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
}
.message > #closemessage:hover {
	background: #222;
	color: #fff;
}


/* ##############################################
** SITE LAYOUT 
** #############################################*/
/* calender */
.calender {
	border: 1px solid black;
	display: inline-block;
	width: 100%;
}
.calender div.after,
.calender div.before {
	opacity: .5;
}
.calender .day {
	float: left;
	width: 13.2%;
	min-height: 100px;
	text-align: left;
	padding: .5%;
}
.calender .day.headline {
	background: #aaa;
	height: 20px;
	min-height: 0px;
}
.calender .day.current {
	font-weight: bold;
	background: #eee
}
.calender .pagination {
	text-align: center;
	font-weight: bold;
	font-size: 120%;
}
.calender .line {
	border-bottom: 1px solid #ccc;
}
.calender .date {
	border: 1px solid #EA7D00;
	border-left-width: 2px;
	margin-top: 5px;
	padding: 1px 2px;
	font-size: 80%;
	display: block;
	text-decoration: none;
	color: inherit;
	font-weight: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	max-height: 5em;
}
.calender .date > span {
	display: block;
}
.calender .head {
	background: #aaa
}
.calender .last,
.calender .now,
.calender .next {
	background: #ddd;
	padding: 2px 10px;
	border: 1px solid #888;
	text-decoration: none;
	display: inline-block;
	margin: 2px 1px;
	border-radius: 2px;
	line-height: .9em;
	color: inherit;
	font-weight: 400;
}
.calender .now {
	position: absolute;
	font-size: 120%;
	margin-left: 5px;
}
.calender .last:hover,
.calender .now:hover,
.calender .next:hover {
	background: #eee;
}

/* contact box */
.contactbox {
	border: 1px solid #aaa;
	padding: .5% 1%;
	width: 48%;
	margin: 0 2% 2% 0;
	float: left;
	box-sizing: border-box;
}
.contactbox > .name {
	font-size: 150%;
	font-weight: 500;
	margin-bottom: 5px;
}
.contactbox > .position {
	margin-bottom: 2px;
	font-size: 110%;
	font-weight: 500;
}
.contactbox > .desc {
	margin-bottom: 2px;
}
.contactbox > .email > a:hover {
	color: #999;
}

/* news_list */
.newslistbox {
	display: block;
	border: 1px solid #ccc;
	margin: 0 0 1em 0;
	padding: 15px;
	box-shadow: 0 0 5px 0px #aaa;
	overflow: auto;
}

/* contact-persons */
.contact-persons input[type="checkbox"] {
	display: none;
}
.contact-persons input[type="checkbox"]:checked + label{
	background: rgba(54, 98, 148, 0.8);
	position: relative;
}
.contact-persons input[type="checkbox"]:checked + label:after {
	background-image: url('../images/checkround.svg');
	background-position: center;
	background-size: 100%;
	height: 1.5rem;
	width: 1.5rem;
	position: absolute;
	top: .4rem;
	right: 10px;
	content: '';
}
.contact-persons label {
	display: inline-block;
	background: rgba(54, 98, 148, 1);
	border: 1px solid #fff;
	padding: 8px 12px;
	width: 20%;
	box-sizing: border-box;
	transition: .1s ease background;
	margin: 0 5px 5px 0;
	color: #fff;
}
.contact-persons label:hover {
	background: #555;
}

/* site_edit menu sortable */
.menu_order > ul,
.menu_order > ul ul {
	margin: 0 0 0 25px;
	padding: 0;
	list-style-type: none;
}
.menu_order > ul {
	margin: 1em 0;
}
.menu_order > ul li {
	margin: 5px 0 0 0;
	padding: 0;
}
.menu_order ul > li {
	padding: 15px 10px;
	background: #fff;
	margin: 10px 0;
	border: 1px solid #777;
	cursor: move;
}
.menu_order ul > li.ignore {cursor: default;}
.menu_order ul > li:nth-child(odd) {background: #fff;}
.menu_order ul > li:nth-child(even) {background: #eee;}
.menu_order > ul > li ul > li {padding: 5px;}
.menu_order > ul > li ul > li {background: #e5e5e5 !important; padding-left: 20px; margin: 5px 0;}
.menu_order > ul > li > ul > li ul {border-left: 1px dotted #555;}
.menu_order > ul > li > ul > li ul > li {border: 0;}
.menu_order > ul > li > ul > li ul > li {padding-bottom: 0;}

.menu_order > ul li.collapsed > ul {
	display: none;
}

.menu_order > ul li > div > .disclose {
	cursor: pointer;
	display: inline-block;
	width: 20px;
	height: 20px;
	font-size: 1.2em;
	line-height: 1em;
}
.menu_order > ul li:not(.ignore)			> div > .disclose:before {content: '-';}
.menu_order > ul li:not(.ignore).collapsed	> div > .disclose:before {content: '+';}

.placeholder {outline: 1px dashed #4183C4;}
.menu_order > ul li.error {background: #fbe3e4!important;border-color: transparent!important;}

.menu_order > ul li div .remove-icon {
	height: 1.5rem;
	width: 1.5rem;
	display: inline-block;
	vertical-align: top;
	margin: 0;
	/* float: left; */
	line-height: 1.5rem;
}

/* font size */
.fontsize {
	float: right;
	position: relative;
	height: 0px;
}
.fontsize a {
	/* background: #333; */
	border-radius: 2px;
	height: 1em;
	width: 1em;
	line-height: 1em;
	display: inline-block;
	text-align: left;
	text-decoration: none;
	color: #157EFB;
	font-size: 1em;
	padding: 5px;
	position: relative;
}
.fontsize a:hover {
	background: #333;
}
.fontsize a:before {
	content: 'A';
}
.fontsize a:after {
	font-size: .8em;
	line-height: .8em;
	right: 2px;
	top: 2px;
	position: absolute;
	text-align: right;
}
.fontsize a.decrease:after {
	content: '-';
}
.fontsize a.reset:after {
	font-family: FontAwesome;
	content: '\f021';
	font-size: .6em;
	line-height: 1.5em;
}
.fontsize a.recrease:after {
	content: '+';
}



/* ##############################################
** TABLE STYLING
** #############################################*/
/* table */
#table1 {
	border: 2px solid #000000;
	border-collapse: collapse;
}
#table1 th, #table1 td {
	vertical-align: top;
	text-align: left;
	padding: 3px 15px;
	border: 1px solid #000000;
}



/* ##############################################
** SINGLE ELEMETS 
** #############################################*/
.btn {
	font-family: inherit;
    font-size: 90%;
    border: 1px solid #999;
    padding: 8px 10px;
	box-sizing: border-box;
	margin: 10px 0 0 0;
	display: inline-block;
	transition: ease border .4s, ease background .2s;
	background: #333;
	color: #e5e5e5 !important;
	width: auto;
	cursor: pointer;
	text-decoration: none !important;
}
.btn:hover {
	background: #2580a2;
}

.remove-icon {
	background-image: url('../images/remove.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	height: 1.6rem;
	width: 1.6rem;
	display: block;
	vertical-align: baseline;
	margin: -0.3rem auto;
}

.add-icon {
	background-image: url('../images/add.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	height: 1.3rem;
	width: 1.3rem;
	display: inline-block;
	vertical-align: baseline;
	margin: -.3rem .3rem;
}

/* search */
.topmenu li.search {
	width: 200px;
	float:right!important
}
.sb-search {
	position: relative;
	margin-top: 5px;
	width: 0%;
	min-width: 40px;
	height: 40px;
	float: right;
	overflow: hidden;
	transition: width 0.3s;
}
.sb-search .sb-search-input {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 40px;
	margin: 0;
	z-index: 10;
}
.sb-search .sb-icon-search,
.sb-search .sb-search-submit  {
	height: 40px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	line-height: 40px;
	text-align: center;
	cursor: pointer;
	margin: 0 !important;
	width: 40px !important;
}
.sb-search .sb-search-submit {
	opacity: 0;
	border: none;
	z-index: -1;
}
.sb-search .sb-icon-search {
	color: #fff;
	z-index: 90;
	font-size: 22px;
	background-image: url('../images/search.svg') !important;
	background-size: 100% !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	background-color: #333 !important;
	/*
	background: #333 url('../images/buttons_sprite.svg') no-repeat -60px 0px !important;
	*/
}
/* Open state */
.sb-search.sb-search-open {
	width: 100%;
}
.sb-search.sb-search-open .sb-icon-search {
	background: #da6d0d;
	color: #fff;
	z-index: 11;
}

.edit-btn {
	background-image: url('../images/document-edit_grey.svg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	height: 30px;
	width: 30px;
	line-height: 30px;
	margin-left: 5px;
	position: relative;
}
.edit-btn:hover {
	background-image: url('../images/document-edit_blue.svg');
}
/*
.edit-btn {
	background-image: url('../images/buttons_sprite.svg');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	display: inline-block;
	height: 30px;
	width: 30px;
	line-height: 30px;
	margin-left: 5px;
	position: relative;
}
.edit-btn:hover {
	background-position: -30px 0px;
}
*/

.toTop {
	position: fixed;
	right: 30px;
	bottom: 30px;
	height: 40px;
	width: 40px;
	display: none;
	z-index: 9999;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 30px;
}
.toTop:before {
	content: "";
	position: absolute;
	height: 0;
	width: 0;
	content: "\f077";
	/* content: "\f139"; */
	font-size: 20px;
	line-height: 20px;
	left: 10px;
	top: 10px;
	text-decoration: none !important;
	color: #eee !important;
	font-family: 'FontAwesome';
}

.menu-icon {
	background-image: url('../images/menu-icon.svg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	width: 50px;
	height: 50px;
	float: left;
	display: none;
}


/* ##############################################
** MEDIA QUERYS
** #############################################*/
@media only screen and (max-width: 600px) {
	.wrapper {
		width: 100%;
	}
	.headWrapper {
		position: fixed;
		z-index: 1000;
	}
	header {
		width: 100%;
	}
	header .logo img {
		margin: 0;
		float: right;
	}
	.menu-icon {
		display: block;
	}
	.mainmenu {
		display: none;
	}
	.mainmenu:before {
	content: 'Menü';
	display: block;
	position: absolute;
	height: 22px;
	width: 100%;
	color: #fff;
	z-index: 10000;
	top: -45px;
	right: 0px;
	left: 60px;
	font-size: 2em;
	font-weight: 100;
	}
	
	.topmenu.mainmenu  {
		height: auto;
		position: absolute;
		top: 50px;
		left: 0;
		width: 100%;
		background: #333333;
		border: solid #1958e7;
		border-width: 2px 2px 2px 0px ;
		border-width: 0px ;
	}
	.topmenu.mainmenu  li {
		float: none;
		display: block;
		padding: 0px;
		border: 0;
		border-top: 1px solid #555;
	}
	.topmenu.mainmenu  li a {
		display: block;
		line-height: 40px;
		margin: 0; 
		padding: 0 0 0 10px;
		text-align: left;
		border-left: none;
	}
	.topmenu.mainmenu li ul {
		display: none;
		padding: 0px;
		margin: 0px;
		position: relative;
		z-index: 200;
		height: auto;
		overflow: hidden;
		transition: none;
		opacity: 1;
		background: #333;
		color: #ccc;
		left: 0;
		border: 0;
	}
	.topmenu.mainmenu li ul li a{
		padding-left: 20px;
	}
	.topmenu.mainmenu li ul li ul li a{
		padding-left: 30px;
	}
	.topmenu.mainmenu li li {
		float: none;
		display: block;
		margin: 0px;
		padding: 0px;
	}
	.topmenu.mainmenu li span {
		float: right;
		background: #444;
		width: 40px;
		height: 40px;
		display: block;
	}
	.topmenu.mainmenu ul li a:before{
	   content: "\00BB";
		margin-right: 2px;
	}
	.topmenu.mainmenu li span:before {
		width: 0;
		height: 0;
		border-left: 12px solid transparent;
		border-right: 12px solid transparent;
		content: '';
		border-top: 15px solid #aaa;
		display: block;
		left: 8px;
		top: 13px;
		position: relative;
	}
	.topmenu.mobilemenu {
		display: block;
		font-size: 16px;
	}
	
	.topmenu.mainmenu li.search {display:none} /* FIXME: show search in resposive view */
	
	main {
		float: left;
		width: 100%;
		padding: 0;
	}
	.leftboxes {
		display: none;
	}
	footer > .links {
		float: none;
		display: block;
	}

	.editroomboxes > ul.editroombox {
		float: none;
		width: 100%;
		margin: 1em 0;
		padding: 5px;
		border: 1px solid #EEEEEE;
		box-sizing: border-box;
	}
	
	.contact-persons label {
		width: 100%;
	}
	
	.contactbox {
		width: 100%;
	}
	
	input, textarea {
		width: 100%;
	}
	.calender .pagination,
	.calender .now {
		font-size: 100%;
	}
	.calender .last,
	.calender .now,
	.calender .next {
		padding: 2px 3px;
		line-height: 1em;
	}
	/*---- TABLE STYLING ----*/
	.responsive-table table {
		width: 100%;
	} 
	.responsive-table table, 
	.responsive-table th, 
	.responsive-table td, 
	.responsive-table tr { 
		display: block; 
	}
	.responsive-table tr.head { 
		display: none;
	}
	.responsive-table tr {
		border: 1px solid #ccc;
	}
	#table1 th, #table1 td {
		padding: .5% .5% .5% 40%;
		border: none;
		border-bottom: 1px solid #eee; 
		min-height: 22px;
	}
	.responsive-table td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		white-space: normal;
		text-align:left;
	}
 
	.responsive-table td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
	.responsive-table td:before {
		content: attr(data-title);
	}
}
@media only screen and (max-width: 360px) {
	.topmenu.mobilemenu {
		display: block;
		font-size: 14px;
	}
}
@media only screen and (min-width: 600px) {
	.topmenu li:hover > a {
		background: #2580a2;
		color: #FFFFFF;
		text-decoration: none;
	}
	.topmenu li:hover > ul {
		display: block;
		opacity: 1;
		height: auto;
	}
	.topmenu li ul a:hover,
	.topmenu li ul li:hover > a {
		background: #2580a2;
		color: #ffffff;
		text-decoration: none;
	}
}
