html, body {
	margin: 0px;
	padding: 0px;
	font-size: 16px;
	font-family: Verdana, Tahoma, Arial;
}

table {
	width: 100%;
}
h1 {
	margin: 0 0 15px 0;
	font-size: 170%;
}

select {
	width: 100px;
	padding-left: 5px;
}

topic {
	display: block;
	font-size: 1.15em;
	font-weight: bold;
	margin: 20px 0 5px 0;
}

p { 
   -moz-hyphens: auto;
   -o-hyphens: auto;
   -webkit-hyphens: auto;
   -ms-hyphens: auto;
   hyphens: auto; 
	margin: 0 0 16px 0;
}
input, textarea {
	font-family: inherit;
    font-size: 95%;
    border: 1px solid #999;
    color: inherit;
    padding: 2px 3px;
	resize: none;
	background: #fff;
	width: 400px;
	box-sizing: border-box;
	max-width: 100%;
	height: 26px;
	margin: 2px 0;
}
textarea {
	height: 150px;
}
textarea.big {
	height: 200px;
	width: 100%;
}
input[type="submit"],
input[type="checkbox"],
input[type="radio"],
input[type="button"],
input[type="reset"] {
	background: #ddd;
	width: auto;
	cursor: pointer;
}
input[type="radio"],
input[type="checkbox"] {
	height: auto;
}
input[type="submit"]:hover,
input[type="checkbox"]:hover,
input[type="radio"]:hover,
input[type="reset"]:hover {
	background: #f6f6f6;
}

a:link{color:inherit;text-decoration:none;}
a:visited{color:inherit;text-decoration:none}
a:focus{color:#38315F;}
a:hover{color:#1B0A7A;text-decoration:underline;}
a:active{color:#38315F;}
#wrapper {
	width: calc(80% - 20px);
	background: #fff;
	margin: 0 auto;
	margin-top: 50px;
	padding: 10px;
}

#headWrapper {
	width: 100%;
	height: 50px;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
	background: #333333;
	position: fixed;
	z-index: 10;
}
#head {
	width: 80%;
	margin: 0 auto;
}
#head .logo  img {
	height: 50px;
	max-width: 100px;
	float: left;
	margin: 0 10px 0 0;
} 
#head:after {
	display: block;
	content: '';
	clear: both;
}
.mobilemenu {
	display: none;
	float: right;
}
.openpoints {
	display: none;
}
#topmenu {
	font-size: 90%;
	padding: 0;
	margin: 0;
	height: 50px;
	list-style: none;
}
#topmenu li {
	float: left;
	padding: 0px;
}
#topmenu > li > a {
	text-transform: uppercase;
}
#topmenu li a {
	background: #333333;
	display: block;
	line-height: 50px;
	margin: 0px;
	padding: 0px 15px;
	text-align: center;
	text-decoration: none;
	color: #cccccc;
	border-left: #3C3C3C 1px solid;
}
#topmenu.mobilemenu li a {
	padding: 0px 5px;
}
#topmenu li ul {
	background: #333333;
	display: block;
	padding: 0px;
	margin: 0px;
	position: absolute;
	z-index: 200;
	opacity: 0;
	height: 0;
	overflow: hidden;
	transition: .7s opacity ease;
	margin-left: 1px;
}
#topmenu li li {
	float: none;
	display: block;
	margin: 0px;
	padding: 0px;
	border-bottom: #3C3C3C 1px solid;
}
#topmenu li li:last-child {
	border-bottom: none;
}
#topmenu li ul a {
	display: block;
	font-size: 90%;
	padding: 0px 10px 0px 10px;
	text-align: left;
	line-height: 30px;
	height: 30px;
	border-left: 0px;
}

@media only screen and (min-width: 600px) {
	#topmenu li:hover > a {
		background: #2580a2;
		color: #FFFFFF;
		text-decoration: none;
	}
	#topmenu li:hover ul {
		display: block;
		opacity: 1;
		height: auto;
	}
	#topmenu li ul a:hover,
	#topmenu li ul li:hover > a {
		background: #2580a2;
		color: #ffffff;
		text-decoration: none;
	}
}
#content {
	background: #fff;
	font-family: Verdana;
	padding: 0 5px;
	float: right;
	width: 75%;
}
#content:after {
	display: block;
	content: '';
	clear: both;
}

#content > .prevnextnavi {
	margin: 40px 0 0 0;	
}
#content > .prevnextnavi > .prev {
	float: left;
}
#content > .prevnextnavi > .next {
	float: right;
}
#content > .prevnextnavi:after {
	display: block;
	clear: both;
	content: '';
}

#footer {
	width: calc(100% - 4px);
	background: none;
	font-size: 90%;
	color: #808080;
	border-top: 1px #808080 solid;
	padding: 2px;
	clear: both;
	margin-top: 30px;
	display: inline-table;
}
#footer > .href {
	float: right;
}
#footer a:link,
#footer a:visited,
#footer a:active {
	color: #808080;
	text-decoration: none;
}
#footer a:hover {
	color: #111;
	font-weight: bold
}

#leftboxes {
	float: left;
	font-size: 90%;
	width: 20%;
	border: 2px solid #777;
}

#news-left {
	padding: 2px 2px 5px 2px;
	margin: 0;
	width: calc(100% - 4px);
	border-bottom: 2px solid #777;
}
ul#news-left li{
	list-style: none;
	display: block;
	border-top: 1px #BCBCBC solid;
	margin: 0;
	padding: 5px 0;
}
#news-left  .topic {
	font-weight: bold;
	display: block;
	font-size: 115%;
	margin: 0px 0px 5px 0;
}
#news-left  .title {
	font-weight: bold;
	display: block;
	margin-bottom: 2px;
}

#login-left {
	padding: 2px 2px 5px 2px;
	margin: 0px 0px 5px 0;
	width: calc(100% - 4px);
}
#search-left h3,
#login-left h3{
	margin: 0 0 5px 0;
	font-size: 115%;
}

#search-left {
	padding: 2px 2px 5px 2px;
	margin: 0;
	width: calc(100% - 4px);
	border-bottom: 2px solid #777;
}

.notfill {
	background: #FFA3A3;
}

.clear {
    clear: both;
}

.pf {
	color: #FF0000;
}

.searchresult {
	border: 1px solid rgba(0,0,0,.2);
	margin-bottom: 10px;
	padding: 3px 5px;
}
.searchresult > * {
	padding: 0;
	color: inherit;
	margin: 0;
}

/* EDIT LAYOUT */

#edit_href {
	font-size: 0.6em;
	vertical-align: top;
	color: #090972;
	background: #eee;
	border: 1px solid #090972;
	text-decoration: none;
	border-radius: 2px;
	padding: .03em 0.2em;
	line-height: 1.5em;
	margin-left: .5em;
font-weight: normal;
}
#edit_href:hover {
	background: #090972;
	color: #eee;
	border: 1px inset #eee;
}

#editroom {
	width: 100%;
	margin: 10px 0;
	padding: 0;
}

#editroom > ul > h4  {
	margin: 0 0 10px 0;
	border-bottom: #398F4E solid 1px;
}
#editroom > ul {
	background: #CED3DF;
}

#editroombox {
	float: left;
	width: 31%;
	margin: 0 .1em;
	padding: 5px;
	border: 1px solid #EEEEEE;
}

#editroom > ul > li{
	list-style: none;
}

#editroom > ul > li > a:link{color:#111;}
#editroom > ul > li > a:visited{color:#111;}
#editroom > ul > li > a:focus{color:#090D6F;}
#editroom > ul > li > a:hover{color:#090D6F;}
#editroom > ul > li > a:active{color:#090D6F;}

#table1 {
	border: 2px solid #000000;
	border-collapse: collapse;
}
#table1 th, #table1 td {
	vertical-align: top;
	text-align: left;
	padding: 3px 15px;
	border: 1px solid #000000;
}

#page_edit {
	border: 2px solid #AAAAAA;
	width: 100%;
	margin-bottom: 20px;
}
#page_edit input{
	background: #3F6E92;
	border-radius: 5px;
	color: #FFFFFF;
	font-weight: bolder;
}
#page_edit input:hover {
	background: #539BD1;
}
#formatierungen {
	border: 0;
	width: auto;
	padding: 4px;
	margin: 0 0 1px 0;
}
#formatierungen a{
	border-radius: 3px;
	border: 1px solid #BBBBBB;
	background: #ECECEC;
	padding: 2px 5px;
	color: #000000;
	text-decoration: none;
	font-size: 80%;
	height: 1em;
	margin: 0px 2px;
}
#formatierungen a:hover{
	background: #CCCCCC;
}

#text{
	width: calc(100% - 10px);
	height: 500px;
	margin: 0;
	border-color: #BAD4E6;
	border-style: solid;
	border-width: 1px 0px;
	outline: none;
}

#group {
	display: inline-block;
	border-radius: 3px;
	border: 1px solid #BBBBBB;
	background: #ECECEC;
	padding: 0;
	vertical-align: middle;
}

#group a{
	border: 0;
	background: transparent;
	border-radius: 0;
	margin: 0;
	width: 1em;
	height: 1em;
	display: table-cell;
}

#vorschau {
	border: 1px solid #AF0000;
	border-left: 15px solid #471515;
	background: #CCCCCC;
	padding: 3px;
}
#download :link,
#download :visited,
#download {
	background: #060094;
	padding: 5px;
	border-radius: 10px;
	border: 1px solid #555;
	color: #fff;
	text-decoration: none;
	line-height: 40px;
	height: 16px;
}
#download :focus,
#download:hover {
	background:#0066FF;
}



#popup {
	position: absolute;
	left: 20%;
	top: 0;
	width: 800px;
	background: #ccc;
	display: none;
	padding: 20px;
	margin:10px 0;
	border: 1px solid rgba(0, 0, 0, 0.6);
	z-index: 9999;
}
#popup h3 {
	margin-top: 0;
} 
#popup > a:link,
#popup > a:visited,
#popup > a:active,
#popup > a:hover {
	padding: 3px 5px;
	color: #e7e7e7;
	background: #0B0B57;
	margin: 0 10px 10px 0;
	display: table;
	text-decoration: none;
}
#popup > a:hover {
	background: #181892;
}
#transparent {
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:rgba(0, 0, 0, 0.6);
	display: none;
}
#popup > .close {
	height: 20px;
	width: 20px;
	float: right;
	margin: -15px -15px 0 0; 
	border: 1px solid #AAA;
	background: #fff;
	text-align: center;
	vertical-align: middle;
	font-size: 150%;
	line-height: .7;
	border-radius: 5px;
}
#popup > .close:hover {
	background: #bbb;
}
#popup > .close > a:link{color:#000000; text-decoration: none;}
#popup > .close > a:visited{color:#000000;}
#popup > .close > a:focus{color:#000000;}
#popup > .close > a:hover{color:#000000;}
#popup > .close > a:active{color:#000000;}


.calender {
	border: 1px solid black;
	display: inline-block;
	width: 100%;
}
.calender div.after,
.calender div.before {
	opacity: .5;
}
.calender .day {
	float: left;
	width: 13.2%;
	min-height: 100px;
	text-align: left;
	padding: .5%;
}
.calender .day.headline {
	background: #aaa;
	height: 20px;
	min-height: 0px;
}
.calender .day.current {
	font-weight: bold;
	background: #eee
}
.calender .pagination {
	text-align: center;
	font-weight: bold;
	font-size: 120%;
}
.calender .line {
	border-bottom: 1px solid #ccc;
}

.calender .date {
	border: 1px solid #EA7D00;
	border-left-width: 2px;
	margin-top: 5px;
	padding: 1px 2px;
	font-size: 80%;
	display: block;
	text-decoration: none;
	color: inherit;
	font-weight: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	max-height: 5em;
}
.calender .date > span {
	display: block;
}
.calender .head {
	background: #aaa
}
.calender .last,
.calender .now,
.calender .next {
	background: #ddd;
	padding: 2px 10px;
	border: 1px solid #888;
	text-decoration: none;
	display: inline-block;
	margin: 2px 1px;
	border-radius: 2px;
	line-height: .8em;
	color: inherit;
}
.calender .now {
	position: absolute;
	font-size: 120%;
	margin-left: 5px;
}
.calender .last:hover,
.calender .now:hover,
.calender .next:hover {
	background: #eee;
}

#dates {
	border-collapse: collapse;
	border: 2px solid #333;
	width: 750px;
}
#dates tr:nth-child(odd) {background: #eee; }
#dates tr:nth-child(even) {background: #e7e7e7; }
#dates th, #dates td {
	vertical-align: top;
	text-align: left;
	padding: 3px 5px;
}
#dates tr:nth-child(2n-1) > td:nth-child(1) {
}
#dates tr:nth-child(2n-1) > td:nth-child(2) {
	text-align: right;
}
#dates tr:nth-child(2n+0) {
	border-top: 1px solid #999;
	border-bottom: 2px solid #333;
	margin-bottom: 10px;
}

#box_contact {
	border: 1px solid #aaa;
	padding: .5% 1%;
	width: 45%;
	margin: 0 2% 2% 0;
	float: left;
}
#box_contact > .name {
	font-size: 150%;
	font-weight: 200;
	margin-bottom: 5px;
}
#box_contact > .position {
	margin-bottom: 2px;
	font-size: 110%;
}
#box_contact > .desc {
	margin-bottom: 2px;
}
#box_contact > .email > a:hover {
	color: #999;
}

.alowedhtmltags {
	position: absolute;
	top: 20%;
	left: 30%;
	width: 40%;
	height: 20%;
	background: #fff;
	border: 1px solid #555;
	box-shadow: 0 0 10px 2px #333;
	padding: 5px;
}

.newslistbox {
	border: 1px solid #ccc;
	margin: 0 0 10px 0;
	padding: 3px 5px;
}
.newslistbox h3 {
	margin: 0 0 5px 0;
}
.transparent {
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0,0,0,.7);
	height: 100%;
	width: 100%;
	z-index: 500;
}
.message {
	position: fixed;
	background: #fff;
	border: 3px solid #1B1B1B;
	padding: 10px;
	z-index: 1000;
	font-family: Tahoma;
	border-radius: 8px;
	color: #222;
}
.message > h3 {
	margin: 0 0 10px 0;
}
.message > #closemessage {
	position: absolute;
	right: 5px;
	top: 5px;
	color: #222;
	height: 18px;
	width: 18px;
	text-decoration: none;
	line-height: 16px;
	font-weight: bold;
	border-radius: 20px;
	text-align: center;
	vertical-align: middle;
	font-size: 20px;
}
.message > #closemessage:hover {
	background: #222;
	color: #fff;
}

.fontsize {
	float: right;
	position: relative;
	height: 0px;
}
.fontsize a {
	background: #eee;
	border-radius: 5em;
	height: 1em;
	width: 1em;
	line-height: 1em;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	color: #222;
}
.fontsize a:hover {
	background: #555;
	color: #eee;
}

@media only screen and (max-width: 600px) {
	#wrapper {
		width: calc(100% - 20px);
	}
	#headWrapper {
		position: fixed;
		z-index: 1000;
	}
	#head {
		width: 100%;
	}
	#head .logo img {
		margin: 0;
	}
	.mainmenu {
		display: none;
	}
	#topmenu.mainmenu  {
		height: auto;
		position: absolute;
		top: 60px;
		left: 0;
		width: 90%;
		background: #333333;
		border: solid #1958e7;
		border-width: 2px 2px 2px 0px ;
	}
	#topmenu.mainmenu  li {
		float: none;
		display: block;
		padding: 0px;
		border-top: 1px solid #555;
	}
	#topmenu.mainmenu  li a {
		display: block;
		line-height: 40px;
		margin: 0px 0 0 50px; 
		padding: 0 3px;
		text-align: left;
		border-left: none;
	}
	#topmenu.mainmenu  li ul {
		display: none;
		padding: 0px;
		margin: 0px;
		position: relative;
		z-index: 200;
		height: auto;
		overflow: hidden;
		transition: none;
		opacity: 1;
	}
	#topmenu.mainmenu  li li {
		float: none;
		display: block;
		margin: 0px;
		padding: 0px;
	}
	#topmenu.mainmenu  li ul a {
		padding: 0px 0 0px 20px;
		text-align: left;
		line-height: 40px;
		height: 40px;
	}
	.mobilemenu {
		display: block;
		font-size: 16px !important;
	}
	.openpoints {
		float: left;
		height: 38px;
		width: 50px;
		display: block;
		margin: 1px;
	}
	#content {
		float: left;
		width: 100%;
	}
	#leftboxes {
		float: none;
		width: 100%;
		display: none;
	}
	#leftboxes .dates {
		display: none;
	}
	#footer > .href {
		float: none;
		display: block;
	}
	#login-left {
		display: none;
	}

	#editroombox {
		float: none;
		width: calc(100% - 10px);
		margin: 1em 0;
		padding: 5px;
		border: 1px solid #EEEEEE;
	}
	input, textarea {
		width: 100%;
	}
	.calender .pagination,
	.calender .now {
		font-size: 100%;
	}
	.calender .last,
	.calender .now,
	.calender .next {
		padding: 2px 3px;
		line-height: 1em;
	}
	/*---- TABLE STYLING ----*/
	.responsive-table table {
		width: 100%;
	} 
	.responsive-table table, 
	.responsive-table th, 
	.responsive-table td, 
	.responsive-table tr { 
		display: block; 
	}
	.responsive-table tr.head { 
		display: none;
	}
	.responsive-table tr {
		border: 1px solid #ccc;
	}
	#table1 th, #table1 td {
		padding: .5% .5% .5% 40%;
		border: none;
		border-bottom: 1px solid #eee; 
		min-height: 22px;
	}
	.responsive-table td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		white-space: normal;
		text-align:left;
	}
 
	.responsive-table td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}
	.responsive-table td:before {
		content: attr(data-title);
	}
}