@charset "UTF-8";
/**
 * RESET and NORMALIZE
 * found on: https://github.com/viur-ignite/viur-ignite-css/blob/master/less/reset.less
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: top;
}
:focus {
  outline: 0;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
}
/**
 * HTML5 display definitions
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
/**
 * Base
 */
html {
  font-size: 1em;
  -webkit-text-size-adjust: 1em;
  -ms-text-size-adjust: 1em;
}
html,
button,
input,
select,
textarea {
  font-family: Calibri, 'Segoe UI', Arial, sans-serif;
}
/**
 * Links
 */
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
p,
pre {
  margin: 0 0 1em;
}
pre,
code,
kbd,
samp {
  font-family: monospace;
  _font-family: monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
sub,
sup {
  font-size: .65em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/**
 * Lists
 */
dl,
menu,
ol,
ul {
  margin: 0;
}
dd {
  margin: 0;
}
menu,
ol,
ul {
  padding: 0;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
/**
 * Embedded content
 */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
/**
 * Figures
 */
figure {
  margin: 0;
}
/**
 * Forms
 */
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 1em 0;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: 1.5;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
/*
 * Re-set default cursor for disabled elements
 */
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
  *height: 13px;
  *width: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
/**
 * Tables
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/**
 * Reset Box-sizing
 */
* {
  box-sizing: border-box;
}
/* ##############################################
** BASICS
** ############################################*/
html {
  overflow-y: auto;
  overflow-x: hidden;
}
body {
  font-size: 100.01%;
  line-height: 1.3;
  font-family: Calibri, 'Segoe UI', Arial, sans-serif;
  color: #111;
  height: 100%;
  background: #eee;
}
b,
strong,
th {
  font-weight: bold;
}
i,
cite,
em,
var,
address,
dfn {
  font-style: italic;
}
small {
  font-size: .8em;
}
img {
  max-width: 100%;
  height: auto;
}
table {
  width: 100%;
  border-collapse: collapse;
}
td,
th,
tr {
  text-align: left;
  vertical-align: top;
}
a:link {
  color: #0d5fa3;
  text-decoration: none;
}
a:visited {
  color: #0d5fa3;
  text-decoration: none;
}
a:focus {
  color: #58aad6;
}
a:hover {
  color: #58aad6;
  text-decoration: underline;
}
a:active {
  color: #0d5fa3;
}
h1 {
  font-weight: bold;
  font-size: 170%;
  margin: 0 0 15px 0;
}
h2 {
  font-weight: bold;
  font-size: 150%;
  margin: 0 0 15px 0;
}
h3 {
  font-weight: bold;
  font-size: 130%;
  margin: 0 0 05px 0;
}
h4 {
  font-weight: bold;
  font-size: 120%;
  margin: 0 0 05px 0;
}
h5 {
  font-weight: bold;
  font-size: 110%;
  margin: 0 0 05px 0;
}
h6 {
  font-weight: bold;
  font-size: 100%;
  margin: 0 0 05px 0;
}
.clickable,
a,
label,
input[type=button],
input[type=submit],
input[type=file] {
  cursor: pointer;
}
p {
  margin: 16px 0;
}
input,
textarea,
select,
.btn {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #fff;
  border: 1px solid #999;
  box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  color: #111;
  display: block;
  font-size: 90%;
  line-height: normal;
  margin: 0 0 15px 0;
  max-width: 100%;
  padding: 8px 10px;
  resize: none;
  transition: ease border .4s, ease background .2s;
  width: 400px;
}
input:focus,
textarea:focus,
select:focus,
.btn:focus,
input:hover,
textarea:hover,
select:hover,
.btn:hover {
  border-color: #244394;
}
input.wrong,
textarea.wrong,
select.wrong {
  border: 1px solid #D00D0D;
  -webkit-animation: popin .7s 1;
  -moz-animation: popin .7s 1;
}
label {
  display: block;
  font-size: 95%;
  margin-top: 8px;
  font-weight: 600;
  color: #555;
}
textarea {
  height: 150px;
}
textarea.big {
  height: 200px;
  width: 100%;
}
input[type="submit"] {
  margin-top: 2em;
  margin-bottom: 0;
}
.btn,
a.btn:visited,
a.btn:link,
input[type="submit"],
input[type="checkbox"],
input[type="radio"],
input[type="button"],
input[type="reset"] {
  background: #333;
  color: #e5e5e5;
  width: auto;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}
.btn,
a.btn:hover,
a.btn:focus,
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover {
  background: #2580a2;
}
input[type="radio"],
input[type="checkbox"] {
  width: 16px;
  height: 16px;
  background: #fff;
}
input[type="radio"]:checked,
input[type="checkbox"]:checked {
  background: #1565c0;
  outline: 1px solid #999;
  border-color: #fff;
}
input[readonly] {
  cursor: no-drop;
}
input[type=radio] + label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  margin: 0;
  padding-left: 25px;
  margin-right: 15px;
  font-size: 13px;
  line-height: inherit;
  font-weight: normal;
}
input[type=radio] {
  display: none;
}
input[type=radio] + label:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-color: #999;
  box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.15), 0px 1px 0px 0px rgba(255, 255, 255, 0.8);
  border-radius: 8px;
}
input[type=radio]:checked + label:before {
  content: "\2022";
  color: #f3f3f3;
  font-size: 30px;
  text-align: center;
  line-height: 16px;
}
select {
  background-image: url('data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 137.14286 50" height="50" width="80"><path d="M0 16.429l30-34.286 30 34.286H0zm0 17.142l30 34.286 30-34.286H0z"/></svg>');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 100%;
}
select + span.info,
textarea + span.info,
input + span.info {
  color: #444;
  margin-bottom: 15px;
  margin-top: -10px;
  display: block;
  font-size: 90%;
}
.checkbox-wrapper input[type="checkbox"] {
  display: inline-block;
}
.checkbox-wrapper input[type="checkbox"] + label {
  display: inline-block;
  margin: 0;
  font-weight: normal;
}
.checkbox-wrapper {
  display: block;
}
form > .cke {
  margin: 1em 0;
}
.clear {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centerX {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}
.centerY {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
@-webkit-keyframes popin {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
  70% {
    transform: scale(1.2, 1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
  }
}
@-moz-keyframes popin {
  0% {
    -moz-transform: scale(0.1, 0.1);
    opacity: 0;
  }
  70% {
    -moz-transform: scale(1.2, 1.2);
    opacity: 1;
  }
  100% {
    -moz-transform: scale(1, 1);
  }
}
/**
 * GRID
 *
 * A simple way to build responsive columns
 * found on: https://github.com/viur-ignite/viur-ignite-css/blob/master/less/grid.less (modified)
 */
.grid-row {
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
}
.grid-row:first-of-type {
  margin-top: -10px;
}
.grid-row:last-of-type {
  margin-bottom: -10px;
}
.grid-row:after {
  clear: both;
}
.grid-col {
  display: block;
  flex: 1 1 auto;
  margin: 10px;
}
.grid-col-1 {
  width: 8.33333333%;
  flex: none;
}
.offset-is-1 {
  margin-left: 8.33333333%;
}
.grid-col-2 {
  width: 16.66666667%;
  flex: none;
}
.offset-is-2 {
  margin-left: 16.66666667%;
}
.grid-col-3 {
  width: 25%;
  flex: none;
}
.offset-is-3 {
  margin-left: 25%;
}
.grid-col-4 {
  width: 33.33333333%;
  flex: none;
}
.offset-is-4 {
  margin-left: 33.33333333%;
}
.grid-col-5 {
  width: 41.66666667%;
  flex: none;
}
.offset-is-5 {
  margin-left: 41.66666667%;
}
.grid-col-6 {
  width: 50%;
  flex: none;
}
.offset-is-6 {
  margin-left: 50%;
}
.grid-col-7 {
  width: 58.33333333%;
  flex: none;
}
.offset-is-7 {
  margin-left: 58.33333333%;
}
.grid-col-8 {
  width: 66.66666667%;
  flex: none;
}
.offset-is-8 {
  margin-left: 66.66666667%;
}
.grid-col-9 {
  width: 75%;
  flex: none;
}
.offset-is-9 {
  margin-left: 75%;
}
.grid-col-10 {
  width: 83.33333333%;
  flex: none;
}
.offset-is-10 {
  margin-left: 83.33333333%;
}
.grid-col-11 {
  width: 91.66666667%;
  flex: none;
}
.offset-is-11 {
  margin-left: 91.66666667%;
}
.grid-col-12 {
  width: 100%;
  flex: none;
}
.offset-is-12 {
  margin-left: 100%;
}
.grid-col-half {
  width: 50%;
}
.grid-col-one-third {
  width: 33.33333333%;
}
.grid-col-two-third {
  width: 66.66666667%;
}
.grid-col-one-quarter {
  width: 25%;
}
.grid-col-three-quarter {
  width: 75%;
}
.offset-is-half {
  margin-left: 50%;
}
.offset-is-one-third {
  margin-left: 33.33333333%;
}
.offset-is-two-third {
  margin-left: 66.66666667%;
}
.offset-is-one-quarter {
  margin-left: 25%;
}
.offset-is-three-quarter {
  margin-left: 75%;
}
/*
// => Grid Media Queries
.media-mixin(@break) when (@break = @breakSmall) {
  .grid-row {
    display: block;
    margin: 0;
    margin-bottom: @gridSpace;
  }
  .grid-col {
    display: block;
    flex: 1 1 auto;
    width: 100%;
    padding: 0;
    margin: 0;
    &:not(:last-child) {
      margin-bottom: @gridSpace;
    }
  }
}

.media-mixin(@break) when (@break = @breakMedium) {
}

.media-mixin(@break) when (@break = @breakLarge) {
}

.media-mixin(@break) when (@break = @breakPrint) {
}
*/
/* ##############################################
** HELPER
** ############################################*/
.never-show {
  display: none !important;
  visibility: hidden !important;
}
.hide {
  display: none;
}
.box-shadow {
  box-shadow: 0 0 5px 0 #ccc;
}
.floating {
  float: left;
}
.space-left {
  margin-left: 5px;
}
.full_page {
  width: 100%;
}
/* ##############################################
** BASIC LAYOUT
** ############################################*/
header {
  height: 30px;
  background: #333;
  color: #eee;
  box-sizing: border-box;
  z-index: 10;
  position: fixed;
  width: 100%;
}
header * {
  color: inherit !important;
}
header a.header-title {
  line-height: 30px;
  font-size: 18px;
  margin-left: 10px;
  text-decoration: none;
}
header a.header-title:hover {
  color: #999 !important;
}
header .languageSelector,
header .languageSelector > p,
header .languageSelector > select.language-selector {
  display: inline-block;
}
header .languageSelector {
  float: right;
  margin-right: 10px;
}
header .languageSelector p {
  margin: 6px 0;
  font-size: 90%;
}
header .languageSelector .language-selector {
  width: 100px;
  margin: 2px 0;
  padding: 2px 4px;
  background: #333;
  border-color: #666;
}
header .profile {
  font-size: 16px;
  float: right;
  padding: 5px 10px;
  line-height: 20px;
  cursor: pointer;
}
header .profile .profile-sub {
  display: block;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 30px;
  right: 0;
  background: #3f3f3f;
  padding: 20px;
  width: 200px;
  min-height: 80px;
  box-sizing: border-box;
  transition: all .2s .3s ease;
}
header .profile:hover {
  background: #3f3f3f;
}
header .profile:hover .profile-sub {
  visibility: visible;
  opacity: 1;
}
header .profile .profile-sub a {
  display: block;
}
header .profile .profile-sub .profile-image {
  float: left;
  margin-right: 10px;
  height: 60px;
  width: 60px;
}
menu.main-menu-left {
  width: 200px;
  top: 30px;
  left: 0;
  box-sizing: border-box;
  padding: 10px 0 0 0;
  z-index: 9;
  position: fixed;
  height: calc(100% - 30px);
  overflow: auto;
  background: #333;
}
menu.main-menu-left > ul.menu > li > a {
  display: block;
  cursor: pointer;
  position: relative;
  margin: 0;
  padding: .5em .5em .5em .7em;
  min-height: 0;
  border-radius: 0;
  font-size: 1.10em;
  background: #333;
  font-weight: bold;
  color: #eee;
  text-decoration: none;
  letter-spacing: 0.5px;
}
menu.main-menu-left > ul.menu > li > a:hover,
menu.main-menu-left > ul.menu > li > a:focus {
  /* header: hover, focus */
  font-weight: bold;
  background: #222;
}
menu.main-menu-left > ul.menu li.open > a {
  /* header: open */
  border-color: blue;
  font-weight: bold;
  background: #1B7CAE;
  color: #eee;
}
menu.main-menu-left > ul.menu ul {
  /* sub links */
  padding: .3em 0;
  border-top: 0;
  overflow: auto;
  border-radius: 0;
  background: #444;
  list-style: none;
}
menu.main-menu-left > ul.menu ul li a {
  padding: .2em .2em .2em .8em;
  cursor: pointer;
  color: #eee;
  text-decoration: none;
  transition: ease color .05s;
  display: block;
}
menu.main-menu-left > ul.menu ul li:hover a {
  color: #1B7CAE;
}
menu.main-menu-left > ul.menu ul li.active {
  background: #555;
}
.wrapper {
  width: calc(100% - 200px);
  right: 0;
  padding: 20px;
  top: 30px;
  position: absolute;
  box-sizing: border-box;
}
.page-headline {
  background: #fff;
  padding: 5px 10px;
  position: relative;
}
a.btn-new,
a.btn-new:visited,
a.btn-new:link,
.btn-new {
  border: 1px solid #999;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  display: inline-block;
  font-size: .9rem;
  margin-left: 1em;
  padding: 5px 8px;
  text-decoration: none;
  transition: ease border .4s, ease background .2s;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
a.btn-new:focus,
a.btn-new:visited:focus,
a.btn-new:link:focus,
.btn-new:focus,
a.btn-new:hover,
a.btn-new:visited:hover,
a.btn-new:link:hover,
.btn-new:hover {
  background: #2580a2;
  border-color: #244394;
  color: #e5e5e5;
}
section {
  background: #fff;
  padding: 10px;
  box-sizing: border-box;
  align-self: flex-start;
}
.space-20 {
  display: block;
  height: 20px;
}
.info-message {
  border-left-width: 4px;
  border-left-style: solid;
  padding: 5px 10px;
  width: 100%;
  background: #fff;
  box-sizing: border-box;
}
.info-message.ok {
  border-color: green;
}
.info-message.error {
  border-color: red;
}
.info-message.warning {
  border-color: orange;
}
form .error-messages p {
  border-left: 4px solid red;
  padding: 2px 10px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 1px 1px #ccc;
  margin: 8px 0;
}
.data-table tr:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
.data-table th,
.data-table td {
  padding: 5px 10px;
}
.data-table .table-head td,
.data-table .table-head th {
  font-weight: 200;
  border-bottom: 1px solid #999;
}
.data-table .header {
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
.data-table .header:not(.headerSortDown):not(.headerSortUp):hover {
  background-image: url(../images/table-bg.gif);
}
.data-table .headerSortUp {
  background-image: url(../images/table-asc.gif);
}
.data-table .headerSortDown {
  background-image: url(../images/table-desc.gif);
}
.data-table .column-select {
  width: 5%;
}
.data-table .column-id {
  width: 5%;
}
.data-table .column-date {
  width: 12%;
}
.data-table .column-actions {
  width: 10%;
  position: relative;
}
.data-table .column-select input {
  margin: 0;
}
.data-table .view-btn {
  display: block;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}
.data-table .remove-btn {
  display: block;
  height: 20px;
  width: 20px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.data-table .remove-btn svg {
  width: 100%;
  height: 100%;
  fill: #929292;
}
.data-table .remove-btn:hover svg {
  fill: #157EFB;
}
.amount-entries {
  float: right;
  font-size: .9em;
  color: #444444;
}
.warning-noscript {
  display: block;
  position: absolute;
  box-sizing: border-box;
  width: 80%;
  margin: 0;
  top: 30%;
  left: 10%;
}
.warning-noscript div {
  display: block;
  box-sizing: border-box;
  background: rgba(197, 40, 40, 0.4);
  border: 2px dotted #c52828;
  padding: 20px;
  color: #253152;
  text-align: center;
}
.actionbar {
  margin: 0 0 1em;
}
.actionbar .select,
.actionbar .btn {
  float: left;
  margin: 0;
}
.actionbar .btn {
  margin-left: 5px;
}
.actionbar .select {
  width: 250px;
}
.actionbar .select:not(:first-child) {
  margin-left: 10px;
}
